body {
  font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  max-width: 1440px;
  margin: 0 auto;

}

.textarea,
.input {
  &-radius-8 {
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
  }

  &-radius-50 {
    background: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    color: black;
    padding: 15px 25px;
  }

  font-family: 'Public Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-width: 200px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.75px;
  color: rgba(0, 0, 0, 0.5);

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
  }
}

.container {
  padding: 0 20px;

  @media screen and (min-width: 500px) {
    padding: 0 30px;
  }
  @media screen and (min-width: 1024px) {
    padding: 0 105px;
  }
}

.share {
  display: flex;
  align-items: center;

  span {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
  }

  &__row {
    display: flex;
    margin-left: 20px;

    > *:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.sidebar {
  max-width: 345px;
  height: max-content;
  position: sticky;
  top: 20px;
  width: 100%;
  margin: 50px auto 0;
  @media screen and (min-width: 1024px) {
    margin: 0 0 0 75px;
    width: max-content;
  }
}

.page {
  > .container {
    padding-top: 20px;
    padding-bottom: 80px;
    @media screen and (min-width: 1024px) {
      padding-top: 30px;
      padding-bottom: 150px;
    }
  }
}

.box {
  padding: 30px;
  background: white;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.logo {
  max-width: 117px;

  @media screen and (min-width: 1024px) {
    max-width: 160px;
  }

}

.btn {
  &__menu {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3.75px;

    > *:not(:last-child) {
      margin-bottom: 7.5px;
    }

    span {
      display: flex;
      width: 100%;
      height: 2px;
      background: black;
    }
  }
}

.accordion {
  &-hidden {
    display: none;
  }

  &__content {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
  }

  > .accordion__content{
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
  }
}

.backlink {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  color: #000000;
  letter-spacing: 0.75px;


  img {
    margin-right: 10px;
  }
}

.icon {
  width: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  &-upper {
    text-transform: uppercase;
  }


  &-red {
    padding: 15px 40px;
    background: #E52D30;
    color: white;
    border-radius: 50px;

    img, svg {
      margin-left: 15px;
    }
  }
}

input[type=file],
input[type=file]::-webkit-file-upload-button {
  cursor: pointer;
}

table {
  border-collapse: collapse;

  thead {
    background: gray;
    color: white;
  }

  tr, td, th {
    padding: 10px 16px;
    border: 1px solid black;
  }
}

strong {
  font-weight: bold;
}

@keyframes open {
  0% {
    opacity: 0;
    max-height: 0%;
  }
  100% {
    opacity: 1;
    max-height: 100%;
  }
}
