.job-page {
  &__wrapper {
    display: flex;
    margin-bottom: 60px;
    flex-direction: column;

    aside {
      flex-shrink: 0;
      display: flex;
    }

    @media screen and (min-width: 1024px) {
      flex-wrap: wrap;
      flex-direction: row;
      margin-bottom: 150px;
    }
  }

  h1 {
    font-weight: 950;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 30px;
    @media screen and (min-width: 1024px) {
      font-size: 56px;
      line-height: 76px;
    }
  }

  h2 {
    font-weight: 950;
    font-size: 36px;
    line-height: 43px;
    @media screen and (min-width: 1024px) {
      font-size: 48px;
      line-height: 57px;
    }
  }

  h3 {
    font-weight: 950;
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 15px;
  }

}

.job-info {
  flex: 1;
  min-width: 320px;

  &__bread {
    display: flex;
    flex-wrap: wrap;

    li {
      &:not(:last-child) {
        margin-right: 10px;
      }

      display: flex;

      img {
        margin-right: 10px;
      }

      span {
        margin-left: 10px;
      }
    }

    margin-bottom: 40px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 50px;
    }
  }


  aside {
    margin-bottom: 61px;
  }

  article {
    overflow-x: auto;
    > *:last-child {
      margin-bottom: 0;
    }

    > *:not(:last-child) {
      margin-bottom: 30px;
    }
    table{
      white-space: nowrap;
    }

    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);

    h2 {
      margin-bottom: 30px;
      @media screen and (min-width: 1024px) {
        margin-bottom: 20px;
      }
    }

    //table {
    //  display: flex;
    //  flex-direction: column;
    //  overflow-x: scroll;
    //
    //  thead, tbody {
    //    flex: 1;
    //  }
    //}

    blockquote {
      margin: revert;
    }

    h3 {
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 170%;
      color: rgba(0, 0, 0, 0.75);
    }

    ol {
      font-size: 18px;
      line-height: 170%;
      color: rgba(0, 0, 0, 0.75);
      margin-left: 20px;
    }

    ul {
      list-style: inherit;
      font-size: 18px;
      line-height: 170%;
      color: rgba(0, 0, 0, 0.75);
      margin-left: 20px;
    }
  }
}

.more-job {
  h2 {
    margin-bottom: 30px;
  }

  &__bread {
    margin-bottom: 15px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

  }

  &__items {
    margin: 15px;
    min-width: 300px;
    flex-basis: 100%;

    p {
      @include truncate(5);
    }

    .btn {
      width: max-content;
      margin-top: 15px;
    }

    @media screen and (min-width: 768px) {
      flex: initial;
      flex-basis: calc((100% / 2) - 30px);
    }
    @media screen and (min-width: 1024px) {
      flex: initial;
      flex-basis: calc((100% / 3) - 30px);
    }
  }
}

.form-job {
  h3 {
    font-weight: 950;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
    @media screen and (min-width: 1024px) {
      font-size: 30px;
      line-height: 38px;
    }
  }

  p {
    color: rgba(0, 0, 0, .75);
    margin-bottom: 20px;
  }

  &__wrapper {
    > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .btn {
    margin-top: 20px;
  }
}

.cv {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.75px;
  cursor: pointer;
  color: #DA291C;

  img {
    margin-right: 5px;
  }


  input {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
  }
}
