.footer {
  padding: 40px 0;
  background: #DA291C;
  @media screen and (min-width: 767px) {
    padding: 30px 0;
  }

  &__logo {
    margin: 0 auto;
    max-width: 120px;

    path {
      fill: white;
    }
  }

  &__menu {
    color: white;


    ul {
      li {
        a {
          color: white;
        }
      }

      li:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    .accordion {


      &-hidden {
        display: block;
        @media screen and (min-width: 767px) and (max-width: 1024px) {
          display: none;
        }
      }

      &__title {
        font-weight: 950;
        font-size: 16px;
        line-height: 19px;

        span {
          margin-left: 4px;
        }

        @media screen and (min-width: 767px) {
          span {
            display: none;
          }
          pointer-events: none;
        }
      }


      &__content {
        overflow: hidden;
        max-height: 0;
        > * {
          margin-top: 16px;
        }
        @media screen and (min-width: 767px) {
          margin-top: 16px;
          max-height: inherit;
          overflow: inherit;
        }
      }


      &:not(:last-child) {
        margin-bottom: 30px;
        @media screen and (min-width: 767px) {
          margin-bottom: 0;
        }
      }

      text-align: center;
      @media screen and (min-width: 767px) {
        text-align: left;
        max-width: calc(100% / 3);
      }
      @media screen and (min-width: 1024px) {
        text-align: left;
        max-width: calc(100% / 5);
      }
    }

    @media screen and (min-width: 767px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-left: 63px;
      > *:not(:last-child) {
        margin-right: 25px;
      }
    }
  }

  &__mobile {
    &-none {
      display: none;
      @media screen and (min-width: 1024px) {
        display: block;
      }
    }
  }

  &__bottom, &__top {
    > *:not(:last-child) {
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
    }

    @media screen and (min-width: 767px) {
      > *:not(:last-child) {
        margin-bottom: 0;
        justify-content: flex-start;
      }
    }
  }

  &__top {
    margin-bottom: 30px;
    @media screen and (min-width: 767px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: -30px;

    span {
      order: 3;
      color: #FFFFFF;
      opacity: 0.75;
      @media screen and (min-width: 767px) {
        order: initial;
      }
      @media screen and (min-width: 1024px) {
        opacity: 1;
      }
    }

    @media screen and (max-width: 767px) {
      > *:last-child {
        margin-bottom: 30px;
      }
    }

    ul {
      order: -1;
      display: flex;
      justify-content: center;
      padding: 30px 0;
      border-top: 1px solid rgba(255, 255, 255, .25);
      border-bottom: 1px solid rgba(255, 255, 255, .25);


      > *:not(:last-child) {
        margin-right: 30px;
      }

      @media screen and (min-width: 767px) {
        order: initial;
        padding: 0;
        border: none;
      }
    }

    @media screen and (min-width: 767px) {
      border-top: 1px solid rgba(255, 255, 255, .25);
      padding-top: 30px;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  &__flint-logo {
    display: flex;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1024px) {
      opacity: 1;
    }
  }

}

.questions {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("../images/content/footer/footer-contact-mob.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 767px) {
    &__input {
      background: transparent;
      color: white;
      border: 1px solid rgba(255, 255, 255, .5);

      &:focus {
        border: 1px solid rgba(255, 255, 255);
      }

      &::placeholder {
        color: #FFFFFF;
        opacity: .5;
      }
    }
  }
  @media screen and (min-width: 768px) {
    background-image: url("../images/content/footer/footer-contact-tablet.png");
  }
  @media screen and (min-width: 1024px) {
    background-image: url("../images/content/footer/footer-contact.png");
    padding-top: 155px;
    padding-bottom: 150px;
  }

  &__wrapper {
    color: white;
    max-width: 400px;
    margin: 0 auto;
    flex-wrap: wrap;

    h2 {
      flex: 1;
      font-weight: 950;
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 20px;
      @media screen and (min-width: 1024px) {
        margin-right: 30px;
        max-width: 495px;
        min-width: 380px;
      }
    }

    @media screen and (min-width: 767px) {
      max-width: 100%;
      margin: inherit;
    }
    @media screen and (min-width: 1024px) {
      display: flex;
      margin-right: 30px;
    }
  }


}

.form-questions {
  flex-basis: 60%;

  &__text {
    font-weight: 350;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .btn {
    width: 100%;
  }

  &__row {

    > *:not(:last-child) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      .btn {
        width: max-content;
      }
      > *:not(:last-child) {
        margin-right: 25px;
        margin-bottom: 0;
      }
    }
  }
}
