.header {
  padding: 20px 0;
  height: 80px;
  display: flex;
  align-items: center;
  margin-top: 30px;

  &__logo {
    svg {
      width: 100%;
      margin-bottom: -20px;

      [fill="black"] {
        display: none;
      }

      @media screen and (min-width: 767px) {
        margin-bottom: 0;
        [fill="black"] {
          display: block;
        }
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    height: 30px;
    top: 0;
    width: 100%;
    background: #DA291C;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    @media screen and (min-width: 1024px) {
      padding-right: 35px;
      padding-left: 105px;
    }
  }

  &__row {
    display: flex;

    > *:not(:last-child) {
      margin-right: 25px;
    }

    .btn__contact {
      display: none;
    }
  }

  @media screen and (min-width: 767px) {
    margin-top: 0;
    &:before {
      display: none;
    }
  }
  @media screen and (min-width: 1024px) {
    padding-bottom: 0;
    height: auto;
    .btn {
      margin-right: 80px;
    }
    .btn__contact {
      display: block;
    }
    .icon.icon__basket {
      display: none;
    }
  }
}
